/* MAPS */
/* EXTEND */
.menudesktop {
  display: flex;
  justify-content: center;
  align-items: center; }

.btn-material {
  background-color: red;
  color: #26b5bd; }

li {
  font-size: 14; }

.mobile {
  display: flex;
  direction: column;
  justify-content: flex-start;
  align-items: center; }
